$page-width: 1000px;
$page-height: $page-width * 0.618;
$menu-width: 160px;
$page-background-color: #d1efcb;
$app-background-color: #b9e5b0;
$menu-background-color: #95d788;
$menu-item-height: $page-height / 16;
$font-family: 'Segoe UI', Helvetica, Arial, sans-serif;